.page-feedback {
  min-width: 600px;

  .ant-card-head-title {
    color: #1890ff;
  }

  .grid-row + .grid-row{
    margin-top: 16px;
  }

  .table {
    th {
      text-align: center;
    }
  }

  .table-action {
    text-align: center;

    span {  
      color: #1890ff;
      cursor: pointer;
    }
  }

  .filter-input {
    width: 110px;
  }
}

.feedback-form {
  .form-action {
    text-align: center;

    .ant-btn {
      margin: 0 10px;
    }
  }

  .ant-col-12 {
    padding-right: 16px;

    &:nth-child(2n) {
      padding-left: 16px;
      padding-right: 0;
    }
  }

  textarea {
    resize: none;
  }
}