.forget-money-password{
  padding: 50px 0;
  button{
    width: 300px;
    height: 36px;
    font-size: 18px;
  }
  .three-area{
    margin-left: 10px;
  }
  .reset-send{
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
