.weixinManagement {
    .title {
        color: #1890ff;
    }

    .card1 {
        margin-bottom: 15px;
    }

    .btnsLayout {
        text-align: right;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .tags {
        background: '#fff';
        border-style: 'dashed';
    }
}