.advancedTutorialManagementModify {
    .title {
        color: #1890ff;
    }

    .preloadCoverCol {
        margin-bottom: 24px;
    }

    .btnsLayout {
        display: flex;
        justify-content: center;
    }

    .btns {
        margin: 0 20px;
    }
}